@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

500;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
}

a,
a:hover,
a:active,
a:focus {
  color: #1c1c1c;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

.container {
  width: 100%;
}

header.header {
  height: 120px;
  color: white;
}

header.header .header-top {
  height: 20px;
  background-color: #0282f9;
}

header.header .header-top .main-container {
  text-align: right;
}

header.header .header-bottom {
  display: flex;
  height: 100px;
}

header.header .header-bottom .logo {
  height: 60px;
}

header.header .header-bottom .main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.header .header-bottom .main-container .navbar {
  display: flex;
  height: 1rem;
}

header.header .header-bottom .main-container .navbar ul {
  display: flex;
  gap: 1.25rem;
  text-transform: uppercase;
}

header.header .header-bottom .main-container .navbar ul li.active {
  background-color: red;
}

header.header .header-bottom .main-container .navbar .input-search {
  display: flex;
  align-items: center;
  position: relative;
  color: #1c1c1c;
}

header.header .header-bottom .main-container .navbar .input-search input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #0282f9;
  padding-left: 55px;
  padding-right: 20px;
  margin-left: 2rem;
  width: 140px;
  font-size: 1.15rem;
  font-weight: bold;
}

header.header .header-bottom .main-container .navbar .input-search .absolute-lens {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

div.cards {
  background-color: #1c1c1c;
  justify-content: center;
}

div.cards .container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  padding: 2.5rem 0;
  gap: 1rem;
}

div.cards .container ul.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  list-style: none;
  flex-basis: calc(16.6666666667% - 1rem);
}

div.cards .container ul.card li img {
  height: 200px;
  width: 200px;
}

div.cards .container ul.card li h2 {
  text-align: center;
}

div.cards .container button.btn {
  margin: 0 auto;
  background-color: #0282f9;
  color: white;
  padding: 0.5rem 1.75rem;
  font-weight: bold;
  border: 0;
  outline: 0;
}

.container-blue {
  background-color: #0282f9;
  padding: 2.5rem 0;
}

.container-blue .container {
  width: 60%;
}

footer.footer .footer-main {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-repeat: no-repeat;
  background-size: cover;
}

footer.footer .footer-main .container {
  display: flex;
  width: 70%;
  margin: 0 auto;
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

footer.footer .footer-main .container .col section h2 {
  color: white;
}

footer.footer .footer-main .container .col section ul li a {
  color: #3e4041;
}

