* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:active,
a:focus {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-container {
  width: 70%;
  margin: 0 auto;
}

header.header {
  height: 120px;
  background-color: red;
}

header.header .header-top {
  height: 20px;
  background-color: #0282f9;
}

header.header .header-top .main-container {
  text-align: right;
}

header.header .header-bottom {
  display: flex;
  height: 100px;
  background-color: white;
}

header.header .header-bottom .logo {
  height: 60px;
}

header.header .header-bottom .main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.header .header-bottom .main-container .navbar {
  display: flex;
  height: 1rem;
}

header.header .header-bottom .main-container .navbar ul {
  display: flex;
  gap: 1.25rem;
  text-transform: uppercase;
}

header.header .header-bottom .main-container .navbar input {
  padding-left: 55px;
  margin-left: 2rem;
  width: 140px;
}

div.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

div.cards ul.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  list-style: none;
  flex-basis: calc(16.6666666667% - 1rem);
}

div.cards ul.card li img {
  height: 200px;
  width: 200px;
}

div.cards ul.card li h2 {
  text-align: center;
}

