[class ^= 'card-'] {
  .container {
    background: linear-gradient(to top,white calc(100% - 6rem), $blue_color 0);
    .container-content {
      position: relative;
      width: 50%;
      gap: 2.5rem;
      .current-series {
        position: absolute;
        bottom: calc(100% - 4rem);
      }
      .container {
        padding-top: 11rem;
        padding-bottom: 5rem;
        .title {
          text-transform: uppercase;
          color: #003f5e;
          margin-bottom: 1rem;
        }
        .price-available {
          display: flex;
          margin: .5rem auto;
          height: 3rem;
          border-bottom: 1px solid black;
          background-color: #55ba59;
          color: #a1f595;
          font-weight: bold;
          .price {
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            height: 100%;
            border-right: 1px solid black;
            #price-value {
              color: white;
            }
          }
          .availability {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: calc(30%);
            i {
              margin-top:-.5rem;
            }
          }
        }
        .description {
          margin-top: 1rem;
          color: #817273;
          font-weight: 500;
          line-height: 2rem;
        }
      }
      .adv {
        padding-top: 6rem;
        .title {
          display: block;
          text-align: right;
          text-transform: uppercase;
          color: $grey_color;
          font-weight: bold;
          font-size: 1rem;
          line-height: 1.7rem;
        }
      }
    }
  }
}
.sub-card-container {
  background-color: #f6f6f6;
  .container {
    .container-content {
      align-items: flex-start;
      width: 50%;
      gap:2.5rem;
      section {
        width: 50%;
        margin-top:1.5rem;
        h2 {
          color: #003f5e;
          padding-bottom: 1rem;
          border-bottom: 1px solid lightgrey;
        }
        .list {
          font-size: 0.95rem;
          flex-wrap: wrap;
          .list-item {
            display: flex;
            width: 100%;
            padding: .75rem 0;
            border-bottom: 1px solid lightgrey;
            .title-txt {
              display: block;
              color: #003f5e;
              width: 35%;
            }
            .item-txt {
              width: 65%;
              a {
                color: $blue_color;
              }
            }
          }
        }
      }
    }
    .link-bar {
      margin-top:6rem;
      border-top: 1px solid lightgrey;
      .container {
        display: flex;
        margin: 0 auto;
        width: 50%;
        .list {
          display: flex;
          width: 100%;
          .list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem;
            height: 100px;
            width: 25%;
            border-right: 1px solid lightgrey;
            &:first-child {
              border-left: 1px solid lightgrey;
            }
            .align-start {
              align-self: flex-start;
              color: $grey_color;
            }
            .icon-dc {
              width: 37px;
              height: 36px;
              transform: scale(1.5);
              background: url('../../../public/img/cta-icons.png') 0 0;
            }
            .icon-shop-dc {
              width: 37px;
              height: 36px;
              transform: scale(1.5);
              background: url('../../../public/img/cta-icons.png') calc(37px * 1) 0;
            }
            .icon-locator {
              width: 37px;
              height: 36px;
              transform: scale(1.5);
              background: url('../../../public/img/cta-icons.png') calc(37px * 2) 0;
            }
            .icon-subscriptions {
              width: 37px;
              height: 36px;
              transform: scale(1.5);
              background: url('../../../public/img/cta-icons.png') calc(37px * 3) 0;
            }
          }
        }
      }
    }
  }
}