footer.footer {
  .footer-main {
    background-image: url('../../../public/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      display: flex;
      width: 70%;
      margin: 0 auto;
      background-image: url('../../../public/img/dc-logo-bg.png');
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      .col {
        // flex-wrap: wrap;
        // flex-direction: column;
        section {
          // display: flex;
          // flex-direction: column;
          h2 {
            color: white;
          }
          ul {
            li {
              a {
                color: $grey_color;
              }
            }
          }
        }
      }
    }
  }
}