header.header {
  height: $header_height;
  color: white;
  .header-top {
    display: flex;
    align-items: center;
    height: calc($header_height - $header_bottom_height);
    background-color: $blue_color;
    .main-container {
      text-align: right;
      text-transform: uppercase;
      span {
        font-size: 0.85rem;
      }
      select {
        font-size: 0.85rem;
        color: white;
        margin-left: 3.5rem;
        background-color: $blue_color;
        border: 0;
        outline: 0;
      }
    }
  }
  .header-bottom {
    display: flex;
    height: $header_bottom_height;
    .logo {
      height: $logo_height;
    }
    .main-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .navbar {
        display: flex;
        height: 1rem;
        ul {
          display: flex;
          gap: 1.25rem;
          text-transform: uppercase;
          li {
            &.active {
              background-color: red;
            }
          }
        }
        .input-search {
          display: flex;
          align-items: center;
          position: relative;
          color: $dark_color;
          input {
            border: 0;
            outline: 0;
            border-bottom: 2px solid $blue_color;
            padding-left: 55px;
            padding-right: 20px;
            margin-left: 2rem;
            width: 140px;
            font-size: 1.15rem;
            font-weight: bold;
          }
          .absolute-lens {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}