// header
$header_height: 120px;
$header_bottom_height: 100px;
$logo_height: 60px;

// card
$card_width: 200px;
$card_img_height: 200px;

// color
$blue_color: #0282f9;
$dark_color: #1c1c1c;
$grey_color: #5e5e5ebd;