// header
$header_height: 120px;
$header_bottom_height: 100px;
$header_top_bg_color: #0282f9;
$header_bottom_bg_color: white;
$logo_height: 60px;

// card
$card_width: 200px;
$card_img_height: 200px;
