// header
$header_bottom_height: 110px;
$logo_height: 80px;

// jumbo
$jumbo_height: 500px;

// card
$card_width: 175px;
$card_img_height: 175px;

// color
$blue_color: #0282f9;
$dark_color: #1c1c1c;
$grey_color: #5e5e5ebd;